[Unit]
Description=My Flask Application
After=network.target

[Service]
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_dir }}
Environment="PATH={{ app_dir }}/venv/bin"
ExecStart={{ app_dir }}/venv/bin/python {{ app_dir }}/{{ flask_app }}
Restart=always

[Install]
WantedBy=multi-user.target
